<h2><%= @doctor.first_name %></h2>
<p><%= @doctor.last_name%></p>
<p><%= @doctor.title %></p>
<p><%= @doctor.available%></p>
<p><%= @doctor.specialty %></p>
<p><%= @doctor.experience%></p>
<%= link_to "edit doctor", edit_doctor_path %>
<%= link_to "Delete", delete_doctor_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
